{% extends 'base.html' %}
{% load static %}

{% block title %} {{object.title}} {% endblock %}
{% block extrahead %}{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div>
    <p class="h1">{{object.title}}</p>
    <hr>
    <p class="fs-5">Posted: {{object.created_date}}</p>
    <p class="fs-5 text-shadow">By {{object.profile.user.first_name}} {{object.profile.user.last_name}}</p>
    {{object.body|safe}}
</div>
{% if user.is_authenticated %}

<div class="mt-5 mb-2" style="height: 400px;">
    <div class="d-flex justify-content-center gap-2">
        <button type="submit" class="btn btn-primary mt-1 w-100" id="toggleForm">open form</button>
        <button type="submit" class="btn btn-secondary mt-1 w-100" id="toogleComments">open comments</button>
    </div>

    <div id="comment-form">
        <form method="post" class="comment-form">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-primary mt-1 w-100">send</button>
        </form>
    </div>

    <div id="comments" class="mt-2">
        {% for comment in comments %}
        <div class="card mb-4">
            <div class="card-body">
                <p>{{ comment.body }}</p>
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                  <p class="small mb-0 ms-2">{{comment.profile.user.username}}</p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>

</div>
{% endif %}
<script>
const toggleFormButton = document.querySelector('#toggleForm');
const toggleCommentsButton = document.querySelector('#toogleComments');
const formContainer = document.querySelector('#comment-form');
const commentsContainer = document.querySelector('#comments');

commentsContainer.style.display = 'none';

toggleFormButton.addEventListener('click', () => {
    commentsContainer.style.display = 'none';
    formContainer.style.display = 'block';
});

toggleCommentsButton.addEventListener('click', () => {
    commentsContainer.style.display = 'block';
    formContainer.style.display = 'none';
});
</script>
{% endblock %}

